* {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-x: hidden;
}

#nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  margin: 1rem 1rem;
}

h1{
margin-left: 0.5rem;
}

#nav ul{
  display: flex;
  gap:1rem;
  margin-right: 0.5rem;
}

#nav ul li{
  cursor: pointer;
}

#nav ul li:hover,
#nav ul li:focus{
  color: rgba(239, 10, 10, 0.971);
}

.separator{
  height: 20px;
  border:1px solid black;
}

#date-time{
  position: fixed;
  right: 0;
  margin-right: 1rem;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  margin: 1rem 0;
}

#displayBook {
  display: none;
  border: 2px solid black;
}

.items {
  display: flex;
  align-items: center;
  width: 80vw;
  margin: 1rem;
  background-color: rgba(84, 77, 77, 0.056);
}

.items p {
  width: 100%;
}

#addBookSection {
  display: none;
  flex-direction: column;
  align-items: center;
}

#title,
#author {
  padding: 0.5rem;
}

#addBtn {
  margin-left: 25px;
}
.contact-info{
  display: none;
}
button {
  background-color: rgba(13, 13, 13, 0.622);
  color: white;
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}

button:hover {
  background-color: rgba(148, 0, 211, 0.504);
}

button:focus {
  background-color: rgba(241, 8, 132, 0.627);
  color: rgba(16, 17, 16, 0.536);
}

hr {
  height: 1.5px;
  width: 10vw;
  background-color: black;
  margin: 1rem 0;
}

#form li {
  margin: 0.5rem;
}

footer p{
  border: 2px solid black;
  margin: 0.5rem;
  padding-left: 0.5rem;
}
